<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>ReactBoard</title>
    {% for asset in assets if asset.type == 'css' %}
        <link rel="stylesheet" type="text/css" href="/public/{{ asset.webPath }}">
    {% endfor %}
</head>
<body>
    <div id="app" class="theme-{{ theme }}" data-app="{{ default.app }}" data-module="{{ default.module }}"></div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% for asset in assets if asset.type == 'javascript' %}
        <script src="/public/{{ asset.webPath }}"></script>
    {% endfor %}
</body>
</html>
